body{
	position: absolute;
	left: 0%;
	right: 0%;
	margin-left: auto;
	margin-right: auto;
}


body #picture{
	height: 20%;
	width: 100%;
	margin: 5% 5% 5% 5%;
}

body #input1{
	margin: 5% 5% 5% 5%;
	width: 100%;
	
}

body #input2{
	margin: 5% 5% 5% 5%;
	width: 35%;
}

body #input3{
	float: right;
	margin: 0% 5% 5% 5%;
	width: 35%;
}

body #input4{
	margin: 0% 5% 5% 5%;
	width: 100%;
}

body #textarea{
	width: 100%;
	height: 30%;
	margin: 0% 5% 5% 5%;
}